 
[submodule "orocos_kinematics_dynamics"]
	path = orocos_kinematics_dynamics
	url = https://github.com/liruiw/orocos_kinematics_dynamics.git
[submodule "Sophus"]
	path = Sophus
	url = https://github.com/yuxng/Sophus.git
	branch = "ceb6380a1584b300e687feeeea8799353d48859f"
[submodule "SDFGen"]
	path = SDFGen
	url = https://github.com/christopherbatty/SDFGen.git
