lxml==4.9.1
numpy==1.19.2
pyassimp==4.1.4
scipy
pyopengl==3.1.0
opencv-python==4.6.0.66
transforms3d
# torchvision
# torch
Pillow==9.2.0
six==1.16.0
IPython
matplotlib==3.3.2
easydict
pyyaml==6.0
cmake
future
pybullet
gym==0.25.1
omegaconf
moviepy
hydra-core==1.2.0
pytransform3d==1.14.0
plotly
ffmpeg==1.4.0
